@import "../abstracts/mixins";

html {
  //This defines what 1 rem is
  font-size: 10px;

  @include respond(big-desktop) {
    font-size: 12px;
  }
  @include respond(tab-land) {
    font-size: 9px;
  }
  @include respond(tab-port) {
    font-size: 8px;
  }
  @include respond(phone) {
    font-size: 30%;
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}
