<template lang="pug">
.home-container
  TheNavigation
  TheHeader
  AboutSection
  FeaturesSection
  ToursSection
  TourPopup
  StoriesSection
  BookingSection
  TheFooter
</template>

<script setup lang="ts">
import TheHeader from '@/components/TheHeader.vue'
import AboutSection from '@/components/AboutSection.vue'
import FeaturesSection from '@/components/FeaturesSection.vue'
import ToursSection from '@/components/ToursSection.vue'
import StoriesSection from '@/components/StoriesSection.vue'
import BookingSection from '@/components/BookingSection.vue'
import TheFooter from '@/components/TheFooter.vue'
import TheNavigation from '@/components/TheNavigation.vue'
import TourPopup from '@/components/TourPopup.vue'
</script>

<style scoped lang="scss">
</style>
