<template lang="pug">
main
  section.section-about(id="section-about")
    .u-center-text.u-margin-bottom-big
      h2.heading-secondary Exiting tours for adventurous people
    .row
      .col-1-of-2
        h3.heading-tertiary.u-margin-bottom-small You're going to fall in love with nature
        p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        h3.heading-tertiary.u-margin-bottom-small Live adventures like you never have before
        p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a.btn-text(href="#") Learn more &rarr;
      .col-1-of-2
        .composition
          img.composition__photo.composition__photo--p1(
            srcset="../assets/nat-1.jpg 300w, ../assets/nat-1-large.jpg 1000w"
            alt="Photo 1"
            sizes="(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px"
            src="../assets/nat-1-large.jpg")
          img.composition__photo.composition__photo--p2(
            srcset="../assets/nat-2.jpg 300w, ../assets/nat-2-large.jpg 1000w"
            alt="Photo 2"
            sizes="(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px"
            src="../assets/nat-2-large.jpg")
          img.composition__photo.composition__photo--p3(
            srcset="../assets/nat-3.jpg 300w, ../assets/nat-3-large.jpg 1000w"
            alt="Photo 3"
            sizes="(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px"
            src="../assets/nat-3-large.jpg")
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
@import "src/scss/layout/grid";
@import "src/scss/components/composition";
@import "src/scss/abstracts/mixins";
.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }

  @include respond(phone) {
    padding: 30rem 0 20rem 0;
  }

  .row {
    text-align: left;
  }
}
</style>
