<template lang="pug">
section.section-book(id="section-book")
  .row
    .book
      .book__form
        form.form(action="#")
          .u-margin-bottom-medium
            h2.heading-secondary Start booking now
          .form__group
            input.form__input(type="text" placeholder="Full Name" required id="name")
            label.form__label(for="name") Full Name
          .form__group
            input.form__input(type="email" placeholder="Email address" required id="email")
            label.form__label(for="email") Email address
          .form__group
            .form__radio-group
              input.form__radio-input(type="radio" id="small" name="size")
              label.form__radio-label(for="small")
                span.form__radio-button
                span Small tour group
            .form__radio-group.u-margin-bottom-medium
              input.form__radio-input(type="radio" id="large" name="size")
              label.form__radio-label(for="large")
                span.form__radio-button
                span Large tour group
          .form__group
            button.btn.btn--green Next step &rarr;
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
@import "src/scss/layout/grid";
@import "src/scss/components/form";

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  @include respond(tab-port) {
    padding: 10rem 0;
  }
  .book {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%), url("../assets/nat-10.jpg");
    background-size: 100%;

    //height: 55rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    @include respond(tab-land) {
      background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 65%, transparent 65%), url("../assets/nat-10.jpg");
      background-size: cover;
    }

    @include respond(tab-port) {
      background-image: linear-gradient(to right, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 100%, transparent 100%), url("../assets/nat-10.jpg");

    }

    &__form {
      width: 50%;
      padding: 6rem;
      @include respond(tab-land) {
        width: 65%;
      }

      @include respond(tab-port) {
        width: 100%;
      }
    }
  }
}
</style>
