<template lang="pug">
section.section-features(id="section-features")
  .row
    .col-1-of-4
      .feature-box
        i.feature-box__icon.icon-basic-world
        h3.heading-tertiary.u-margin-bottom-small Explore the world
        p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .col-1-of-4
      .feature-box
        i.feature-box__icon.icon-basic-compass
        h3.heading-tertiary.u-margin-bottom-small Meet nature
        p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .col-1-of-4
      .feature-box
        i.feature-box__icon.icon-basic-map
        h3.heading-tertiary.u-margin-bottom-small Find your way
        p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    .col-1-of-4
      .feature-box
        i.feature-box__icon.icon-basic-heart
        h3.heading-tertiary.u-margin-bottom-small Live a healthier life
        p.feature-box__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
@import "src/scss/layout/grid";
@import "src/scss/components/feature-box";
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../assets/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -9rem;
  & > * {
    transform: skewY(7deg);
  }
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
</style>
