<template lang="pug">
section.grid-test
  .row
    .col-1-of-2 Col 1 of 2
    .col-1-of-2 Col 1 of 2
  .row
    .col-1-of-3 Col 1 of 3
    .col-1-of-3 Col 1 of 3
    .col-1-of-3 Col 1 of 3
  .row
    .col-1-of-3 Col 1 of 3
    .col-2-of-3 Col 2 of 3
  .row
    .col-1-of-4 Col 1 of 4
    .col-1-of-4 Col 1 of 4
    .col-1-of-4 Col 1 of 4
    .col-1-of-4 Col 1 of 4
  .row
    .col-1-of-4 Col 1 of 4
    .col-1-of-4 Col 1 of 4
    .col-2-of-4 Col 2 of 4
  .row
    .col-1-of-4 Col 1 of 4
    .col-3-of-4 Col 3 of 4
</template>

<style scoped lang="scss">
@import "src/scss/layout/grid";
</style>
