<template lang="pug">
section.section-stories(id="section-stories")
  .bg-video
    video(autoplay muted loop).bg-video__content
      source(src="../assets/video.mp4" type="video/mp4")
      source(src="../assets/video.webm" type="video/webm")
  .u-center-text.u-margin-bottom-big
    h2.heading-secondary We make people genuinely happy
  .row
    .story
      figure.story__shape
        img.story__img(src="../assets/nat-8.jpg" alt="Person in a tour")
        figcaption.story__caption Mary Smith
      .story__text
        h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut ullamco laboris nisi ut aliquip.
  .row
    .story
      figure.story__shape
        img.story__img(src="../assets/nat-9.jpg" alt="Person in a tour")
        figcaption.story__caption Jack Wilson
      .story__text
        h3.heading-tertiary.u-margin-bottom-small Wow! My Life is completely different now
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut ullamco laboris nisi ut aliquip.
  .u-center-text.u-margin-bottom-huge
    a.btn-text(href="#") Read all stories &rarr;
</template>

<style scoped lang="scss">
@import "src/scss/layout/grid";
@import "src/scss/components/story";
@import "src/scss/components/bg-video";
.section-stories {
  padding: 15rem 0;
  position: relative;
  @include respond(tab-port) {
    padding: 10rem 3rem;
    .row {
      max-width: none;
    }
  }
}
</style>
