<template lang="pug">
footer.footer
  .footer__logo-box
    picture.footer__logo
      source(
        srcset="../assets/logo-green-small-1x.png 1x, ../assets/logo-green-small-2x.png 2x"
        media="(max-width: 37.5em)")
      img.footer__logo(
        srcset="../assets/logo-green-1x.png 1x, ../assets/logo-green-2x.png 2x"
        alt="Full logo"
        src="../assets/logo-green-2x.png")
  .row
    .col-1-of-2
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link Company
          li.footer__item
            a.footer__link Contact us
          li.footer__item
            a.footer__link Carers
          li.footer__item
            a.footer__link Privacy Policy
          li.footer__item
            a.footer__link Terms
    .col-1-of-2
      p.footer__copyright Some text
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
@import "src/scss/layout/grid";
@import "src/scss/layout/footer";
</style>
