<template lang="pug">
header.header
  .header__logo-box
    img.header__logo(src="../assets/logo-white.png" alt="Logo")
  .header__text-box
    h1.heading-primary
      span.heading-primary--main Outdoors
      span.heading-primary--sub is where life happens
    a.btn.btn--white.btn--animated(href="#section-tours") Discover our tours
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
@import "src/scss/layout/header";
</style>
