<template lang="pug">
.navigation
  input.navigation__checkbox(type="checkbox" id="navi-toggle")
  label.navigation__button(for="navi-toggle")
    span.navigation__icon
  .navigation__background &nbsp;
  nav.navigation__nav
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href="#section-about") 01 About Natours
      li.navigation__item
        a.navigation__link(href="#section-features") 02 Your benefits
      li.navigation__item
        a.navigation__link(href="#section-tours") 03 Popular tours
      li.navigation__item
        a.navigation__link(href="#section-stories") 04 Stories
      li.navigation__item
        a.navigation__link(href="#section-book") 05 Book now
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
@import "src/scss/layout/navigation";
</style>
