<template lang="pug">
section.section-tours(id="section-tours")
  .u-center-text.u-margin-bottom-big
    h2.heading-secondary Most popular tours
  .row
    .col-1-of-3
      .card
        .card__side.card__side--front
          .card__picture.card__picture-1
          h4.card__heading
            span.card__heading-span.card__heading-span-1 The sea explorer
          .card__detais
            ul
              li 3 day tours
              li Up to 30 people
              li 2 tour guides
              li Sleep in cozy hotels
              li Difficulty: easy
        .card__side.card__side--back.card__side--back-1
          .card__cta
            .card__price-box
              p.card__price-only Only
              p.card__price-value $297
            a.btn.btn--white(href="#popup") Book now
    .col-1-of-3
      .card
        .card__side.card__side--front
          .card__picture.card__picture-2
          h4.card__heading
            span.card__heading-span.card__heading-span-2 The forest hiker
          .card__detais
            ul
              li 7 day tours
              li Up to 40 people
              li 6 tour guides
              li Sleep in provided tents
              li Difficulty: medium
        .card__side.card__side--back.card__side--back-2
          .card__cta
            .card__price-box
              p.card__price-only Only
              p.card__price-value $597
            a.btn.btn--white(href="#popup") Book now
    .col-1-of-3
      .card
        .card__side.card__side--front
          .card__picture.card__picture-3
          h4.card__heading
            span.card__heading-span.card__heading-span-3 The snow adventurer
          .card__detais
            ul
              li 5 day tours
              li Up to 15 people
              li 3 tour guides
              li Sleep in provided tents
              li Difficulty: hard
        .card__side.card__side--back.card__side--back-3
          .card__cta
            .card__price-box
              p.card__price-only Only
              p.card__price-value $897
            a.btn.btn--white(href="#popup") Book now
  .u-center-text.u-margin-bottom-huge
    a.btn.btn--green(href="#") Discover all tours
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
@import "src/scss/layout/grid";
@import "src/scss/components/card";

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}
</style>
