<template lang="pug">
.popup(id="popup")
  .popup__content
    .popup__left
      img.popup__img(src="../assets/nat-8.jpg" alt="Tour photo")
      img.popup__img(src="../assets/nat-9.jpg" alt="Tour photo")
    .popup__right
      a.popup__close(href="#section-tours") &times;
      h2.heading-secondary.u-margin-bottom-small Start booking now
      h3.heading-tertiary.u-margin-bottom-small Important &ndash; Please read these terms before booking
      p.popup__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a.btn.btn--green(href="#") Book now
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
@import "src/scss/layout/grid";
@import "src/scss/components/popup";
</style>
